---
import Background from "../background.astro";
import warningImage from "@/assets/warning.svg";
import { tipoViolencia } from "@/utils/constants";
---

<section id="seccionViolenciasAutores" class="r-stretch !h-full">
  <div class="flex flex-col justify-center h-full py-5 lg:py-10">
    <h2 class="text-lg lg:text-4xl">Autores de las violencias</h2>
    <Background
      image={warningImage}
      size={600}
      position="-right-40 -bottom-20"
    />
    <div
      class="flex lg:h-full justify-center lg:w-10/12 my-10 shadow-lg rounded-3xl mx-auto border bg-white p-10"
    >
      <div class="flex flex-row lg:flex-col justify-center w-12/12 lg:w-3/12 ">
        <ul
          class="flex flex-row lg:flex-col lg:w-48 text-xs lg:text-sm font-medium text-primary-600 bg-white border-2 border-primary-600 rounded-lg"
        >
          {
            tipoViolencia.map((tipo) => (
              <li class="lg:w-full lg:border-b-2 lg:last:border-0 lg:border-primary-600 lg:rounded-t-lg ">
                <div class="flex items-center ">
                  <input
                    type="radio"
                    name="violencia-tipo"
                    id={tipo.slug}
                    value={tipo.slug}
                    checked={tipo.slug === `psicologica`}
                    class="hidden peer"
                  />
                  <label
                    for={tipo.slug}
                    class="lg:w-full py-3 px-3 font-semibold text-xs lg:text-sm peer-checked:bg-primary-600 peer-checked:text-white cursor-pointer"
                  >
                    {tipo.name}
                  </label>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
      <!-- TODO: Arreglar que no se ve en mobile el gráfico -->
      <div id="violencias-autores-container" class="lg:w-9/12 h-full">
        <div id="graficoViolenciasAutores"></div>
      </div>
    </div>
  </div>
</section>


<script>
  import { colors, datosAutores } from "@/utils/constants";
  import { initChartOnScreen, resizeChart } from "@/utils/slider-utils";
  import * as echarts from "echarts";
  const chartDom = document.getElementById("graficoViolenciasAutores");
  const chart = echarts.init(chartDom);
  const buttons = document.getElementsByName("violencia-tipo");

  const option = {
    legend: {
      top: "center",
      right: 0,
      orient: "vertical",
      textStyle: {
        fontSize: 12,
        width: 250,
        overflow: "break",
      },

      // backgroundColor: "white",
    },
    color: colors,
    tooltip: {},
    series: [
      {
        type: "pie",
        radius: [50, 200],
        center: ["30%", "50%"],
        roseType: "area",
        itemStyle: {
          borderRadius: 8,
        },
        label: { show: false },
        data: datosAutores["psicologica"],
      },
    ],
  };

  initChartOnScreen("graficoViolenciasAutores", () =>
    resizeChart(
      "violencias-autores-container",
      "graficoViolenciasAutores",
      option
    )
  );

  buttons.forEach((button) => {
    button.addEventListener("click", (event) => {
      option.series[0].data = datosAutores[event.target.value];
      resizeChart(
        "violencias-autores-container",
        "graficoViolenciasAutores",
        option
      );
    });
  });
</script>
