---
import Background from "../background.astro";
import warningImage from "../../../../assets/warning.svg";
import { tipoViolencia, datosAutores } from "../../../../utils/constants";
---

<section id="sectionAutores" class="r-stretch">
  <Background image={warningImage} size={600} position="-right-40 -bottom-20" />

  <div class="flex w-full h-full justify-center">
    <div class="flex flex-col justify-center w-2/12 gap-7">
      {
        tipoViolencia.map((tipo) => (
          <div class="contents ">
            <input
              type="radio"
              name="violencia-tipo"
              id={tipo.slug}
              value={tipo.slug}
              class="hidden peer"
            />
            <label
              class="bg-transparent w-fullfont-semibold w-full py-2 px-4  hover:bg-primary-500 text-gray-500  hover:text-white  border-2 border-primary-500 hover:border-transparent rounded-lg peer-checked:bg-primary-600 peer-checked:text-white cursor-pointer"
              for={tipo.slug}
            >
              {tipo.name}
            </label>
          </div>
        ))
      }
    </div>
    <div id="autores-container" class="w-8/12 h-full">
      <div id="graficoAutores"></div>
    </div>
  </div>
</section>
<script>
  import { datosAutores } from "../../../../utils/constants";
  import { observer } from "../../../../utils/observer";
  import * as echarts from "echarts";
  const chartDom = document.getElementById("graficoAutores");
  const chart = echarts.init(chartDom);
  const buttons = document.getElementsByName("violencia-tipo");
  const colors = [
    "#401F71",
    "#88659F",
    "#FFAC39",
    "#E6E1CF",
    "#ED8272",
    "#2A0C4E",
    "#B092C2",
    "#F8D58D",
    "#C9695B",
  ];

  const option = {
    legend: {
      top: "center",
      right: 10,
      orient: "vertical",
      // backgroundColor: "white",
    },
    color: colors,
    tooltip: {},
    series: [
      {
        type: "pie",
        radius: [50, 250],
        center: ["30%", "50%"],
        roseType: "area",
        itemStyle: {
          borderRadius: 8,
        },
        label: { show: false },
        data: datosAutores["psicologica"],
      },
    ],
  };

  const resizeChart = () => {
    const section = document.getElementById("autores-container");
    if (!chartDom) return;
    chartDom.style.width = section?.offsetWidth + "px";
    chartDom.style.height = section?.offsetHeight
      ? section.offsetHeight + "px"
      : "60vh";
    chart.resize();
  };
  const initGraph = () => {
    resizeChart();
    chart.setOption(option);
  };

  window.addEventListener("resize", () => {
    if (chart) {
      resizeChart();
    }
  });

  observer(
    chartDom,
    () => initGraph(), // Función init
    () => chart.clear() // Función destroy
  );
  buttons.forEach((button) => {
    button.addEventListener("click", (event) => {
      option.series[0].data = datosAutores[event.target.value];
      chart.clear();
      initGraph();
    });
  });
</script>
