---
import { Image } from "astro:assets";
import CommentUser from "@/assets/coment-user.svg";
import Location from "@/assets/location.svg";
import { Icon } from "astro-icon/components";
const { href } = Astro.url;

const { testimonio, Content } = Astro.props;
const { data } = testimonio;
const { name, location, shortDesc } = data;
---

<div class="container p-10 border mx-auto bg-white rounded-3xl">
  <h1 class="text-2xl md:text-5xl text-primary-900 font-black">
    <Image src={CommentUser} height={60} class="inline mr-5" alt="" />
    {name}
  </h1>
  <h3 class="mt-5 text-primary-900 font-bold text-xl md:text-1xl">
    <Image src={Location} height={30} class="inline mx-4" alt="" />
    {location}
  </h3>
  <div class="prose prose-primary max-w-full my-10">
    <Content />
    <div class="actions flex flex-col md:flex-row lg:w-10/12 mx-auto mt-10">
      <a
        href="/"
        class="w-full lg:w-1/2 border-4 border-primary-900 text-primary-900 block mx-4 text-center p-2 rounded-full font-semibold no-underline text-xl lg:text-1xl my-2"
        >Volver al Inicio</a
      >
      <div class="relative w-full lg:w-1/2 mx-4 my-2">
        <button
          data-button-menu
          class="w-full border-4 border-secondary-500 bg-secondary-500 text-white block text-center p-2 rounded-full font-semibold no-underline text-xl lg:text-1xl"
          >Compartir testimonio</button
        >
        <ul
          data-menu
          class="absolute z-10 min-w-[180px] overflow-auto rounded-lg border-slate-200 bg-white shadow-lg focus:outline-none bottom-full w-full transition max-h-0 flex"
        >
          <li
            role="menuitem"
            class="cursor-pointer text-slate-800 flex w-full text-sm items-center rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100"
          >
            <a
              href={`whatsapp://send?text=${shortDesc} conoce la historia de ${name} y enterate de las situaci칩nes que viven las mujeres periodistas en Argentina. Esta y muchas m치s historias en la web de Periodistas Amenazadas. ${href}`}
              target="_blank"
              class="flex no-underline items-center w-full justify-center"
            >
              <Icon size={40} class="text-primary-900" name="mdi:whatsapp" />
            </a>
          </li>
          <li
            role="menuitem"
            class="cursor-pointer text-slate-800 flex w-full text-sm items-center rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100"
          >
            <a
              href={`https://www.linkedin.com/sharing/share-offsite/?url=${href}`}
              target="_blank"
              class="flex no-underline items-center w-full justify-center"
            >
              <Icon size={40} class="text-primary-900" name="mdi:linkedin" />
            </a>
          </li>
          <li
            role="menuitem"
            class="cursor-pointer text-slate-800 flex w-full text-sm items-center rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100"
          >
            <a
              class="flex no-underline items-center w-full justify-center"
              target="_blank"
              href={`https://twitter.com/intent/tweet?text=${shortDesc} conoce la historia de ${name} y enterate de las situaci칩nes que viven las mujeres periodistas en Argentina. Esta y muchas m치s historias en la web de Periodistas Amenazadas. ${href}`}
            >
              <Icon size={40} class="text-primary-900" name="pajamas:twitter" />
            </a>
          </li>
          <li
            role="menuitem"
            class="cursor-pointer text-slate-800 flex w-full text-sm items-center rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100"
          >
            <a
              href={`https://www.facebook.com/sharer/sharer.php?u=${href}`}
              target="_blank"
              class="flex no-underline items-center w-full justify-center"
            >
              <Icon size={40} class="text-primary-900" name="mdi:facebook" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  const buttonMenu = document.querySelector("[data-button-menu]");
  const menu = document.querySelector("[data-menu]");
  buttonMenu?.addEventListener("click", () => {
    menu?.classList.toggle("max-h-screen");
    menu?.classList.toggle("border");
    menu?.classList.toggle("p-1.5");
  });
</script>
